@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter&family=Great+Vibes&family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter&family=Great+Vibes&family=Marck+Script&family=Roboto:wght@500&display=swap');

body {
  background-color: #BFACAC;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Bad Script', 'Comforter', 'Great Vibes', 'Marck Script', cursive;
}

.Vsyo {
  border-radius: 5%;
  display: flex;
  margin-bottom: 20px;
  border: 3px #fff;
  margin: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 700px) {.Vsyo {
  text-align: center;
  display: block;
}
}

.Vs {
  color: #888;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: normal;
  background: #FFBA00;
  border-radius: 10px;
  padding: 10px;
  border: 3px #fff;
  margin: 15px;
}
  
.fg {
    padding: 20px;
    border: 3px #fff;
    margin: 20px;
}

.Kartinka {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

    

.Vsyo2 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}












.Vsyo3 {
    max-width: 960px;
    text-align: center; 
    margin-left: auto;cc9500: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background: #ffa500;
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 05);


.Vsyo3_1 {
    display: block;
    font-size: 14px;
    color: #FFBA00;
}
.Vsyo3_2
.Vsyo3_3 {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


